
services:
  postgres:
    image: postgres:15
    container_name: identity_postgres
    environment:
      POSTGRES_USER: ory
      POSTGRES_PASSWORD: ory
      POSTGRES_DB: ory
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # One-shot migration job
  kratos-migrate:
    image: oryd/kratos:v1.0.0
    container_name: kratos_migrate
    command: migrate sql -e --yes
    depends_on:
      - postgres
    environment:
      - DSN=postgres://ory:ory@postgres:5432/ory?sslmode=disable
    restart: "no"

  kratos:
    image: oryd/kratos:v1.0.0
    command: serve -c /etc/config/kratos.yml --dev
    container_name: kratos
    depends_on:
      - postgres
      - kratos-migrate
    environment:
      - DSN=postgres://ory:ory@postgres:5432/ory?sslmode=disable
      - SELFSERVICE_FLOWS_ERROR_UI_URL=http://localhost:5173/error
    ports:
      - "4433:4433"
      - "4434:4434"
    volumes:
      - ./apps/ory/kratos/kratos.yml:/etc/config/kratos.yml
      - ./apps/ory/kratos/identity.default.schema.json:/etc/config/identity.default.schema.json
  auth-ui:
    build:
      context: .
      dockerfile: ./apps/auth-ui/Dockerfile
    container_name: auth_ui
    depends_on:
      - kratos
    environment:
      - VITE_ORY_BROWSER_URL=http://kratos:4433
      - VITE_AUTH_SUCCESS_REDIRECT=http://localhost:5174/
      - VITE_AUTH_LOGIN_REDIRECT=http://localhost:5173/login
      - VITE_AUTH_REGISTRATION_REDIRECT=http://localhost:5173/register
      - VITE_AUTH_RECOVERY_REDIRECT=http://localhost:5173/recovery
    ports:
      - "5173:80"

  web-client:
    build:
      context: .
      dockerfile: ./apps/javascript/web-client/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL:-http://localhost:8000}
    container_name: web_client
    depends_on:
      - kratos
    ports:
      - "5174:80"

  core-server:
    build:
      context: .
      dockerfile: ./apps/python/core_server/Dockerfile
    container_name: core_server
    depends_on:
      - mongo
      - keto
      - kratos
    environment:
      - MONGO_URI=${MONGO_URI:-mongodb://mongo:27017}
      - MONGO_DB_NAME=${MONGO_DB_NAME:-ideas}
      - KRATOS_PUBLIC_URL=${KRATOS_PUBLIC_URL:-http://kratos:4433}
      - KETO_READ_URL=${KETO_READ_URL:-http://keto:4466}
      - KETO_WRITE_URL=${KETO_WRITE_URL:-http://keto:4467}
    ports:
      - "8000:8000"

  keto:
    image: oryd/keto:v0.12.0
    command: serve -c /etc/config/keto.yml
    container_name: keto
    ports:
      - "4466:4466"
      - "4467:4467"
    volumes:
      - ./apps/ory/keto/keto.yml:/etc/config/keto.yml

  mongo:
    image: mongo:6
    container_name: mongo_default
    ports:
      - "27017:27017"
    volumes:
      - mongo_default_data:/data/db

volumes:
  postgres_data:
  mongo_default_data:
