[project]
name = "ideas"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[tool.uv.workspace]
members = [
    "apps/python/*",
    "packages/python/*",
]
